<meta charset="UTF-8"/>
<meta name="twitter:image" content="./og.png"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta property="og:image:alt" content="FirstClassTvätt – Biltvätt i Torslanda"/>
<meta property="og:image" content="./og.png"/>
<meta property="og:locale" content="sv_SE"/>
<meta property="og:description" content="Snabb och skonsam biltvätt i Torslanda. Drop-in, invändig & utvändig tvätt."/>
<meta property="og:title" content="FirstClassTvätt – Biltvätt i Torslanda"/>
<meta property="og:type" content="website"/>
<!-- Open Graph / Twitter (safe defaults) -->

<meta name="description" content="Snabb och skonsam biltvätt i Torslanda. Drop-in, invändig & utvändig tvätt."/>
<title>FirstClassTvätt – Biltvätt i Torslanda</title>

<meta name="viewport" content="width=device-width, initial-scale=1"/>

